@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #0f0047;
}


body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: #ffffff;
}

.sidebar__form-invalid {
    color: #da1717;
    visibility: hidden;
}

.sidebar__input,
.sidebar__select {
    width: 100%;
    padding: .4em;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #0f0047;
    cursor: pointer;
}

.contentHub__month-select {
    cursor: pointer;
    width: auto;
    margin-right: auto;
    outline: none;
    border: 1px solid #0f0047;
    border-radius: 5px;
    padding: .2em;
}

.contentHub__icon {
    font-size: 1.5rem !important;
    cursor: pointer;
}

.contentHub__btn--edit-icon,
.contentHub__btn--delete-icon {
    font-size: 1.3rem !important;
    cursor: pointer;
}

option {
    font-size: small;
}

@media(max-width: 500px) {

    html {
        font-size: 19px;
    }

    body {
        display: flex !important;
    }

    .sidebar__input,
    .sidebar__select {
        width: 100%;
        padding: .2em;
        font-size: 1rem;

        outline: none;
        border-radius: 5px;
        border: 1px solid #352513;
    }

    .contentHub__month-select {
        font-size: .9rem;
    }
}